.option-container {
    width: fit-content;
    height: 100vh;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.option-header {
    text-align: center;
    color: palevioletred;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.option-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 3px;
}

.menu-item {
    border-radius: 20px;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
    width: 110px;
    /* Default for mobile */
    height: 110px;
    text-align: center;

/* Centering content */
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-item-text {
    font-family: "Pacifico", serif;
    font-weight: bold;
    color: white;
    position: absolute;
    width: 100%;
}

.option-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Optional: Style the image container for aspect ratio */


/* CustomDropdown.css */
.custom-dropdown {
    position: relative;
    width: 75%;
    /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    background-color: white;
}

.dropdown-header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    /* Ensures it appears on top of other elements */
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    list-style: none;
    width: 220px;
    /* Adjust as needed */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 6px;
    /* Smooth hover effect */
}

.dropdown-item:last-child {
    border-bottom: none;
    /* Remove border from the last item */
}

.dropdown-item:hover {
    background-color: purple;
}

.dropdown-item.selected {
    background-color: #e0e0e0;
}

/* Extra Small (XS) - Mobile */
@media (max-width: 480px) {
    .menu-item-text, .dropdown-item, .selected-option {
        font-size: 18px;
    }

    .option-header {
        font-size: 32px;
    }
}

/* Mobile Landscape & Small Tablets */
@media (min-width: 481px) {
    .menu-item-text, .dropdown-item, .selected-option {
        font-size: 20px;
    }

    .option-header {
        font-size: 36px;
    }

    .menu-item {
        width: 110px;
        height: 110px;
    }
}

/* Tablets */
@media (min-width: 769px) {
    .menu-item-text, .dropdown-item, .selected-option {
        font-size: 22px;
    }

    .option-header {
        font-size: 40px;
    }

    .menu-item {
        width: 130px;
        height: 130px;
    }

}

/* Laptops */
@media (min-width: 1025px) {
    .menu-item-text, .dropdown-item, .selected-option, {
        font-size: 24px;
    }

    .option-header {
        font-size: 44px;
    }

    .menu-item {
        width: 150px;
        height: 150px;
    }
}

/* Desktops */
@media (min-width: 1367px) {
    .menu-item-text, .dropdown-item, .selected-option {
        font-size: 26px;
    }

    .option-header {
        font-size: 48px;
    }

    .menu-item {
        width: 170px;
        height: 170px;
    }
}

/* 2X Large (XXL) - Large Screens */
@media (min-width: 1921px) {
    .menu-item-text, .dropdown-item, .selected-option {
        font-size: 28px;
    }

    .option-header {
        font-size: 52px;
    }
}